@using Northwind.EntityModels
@model ICollection<Northwind.EntityModels.Order>

<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>Order Date</th>
            <th>Order Id</th>
            <th>Number of Products</th>
            <th>Freight</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Order order in Model.OrderByDescending(o => o.OrderDate))
        {
            <tr>
                <td class="col-3">@(order.OrderDate?.ToString("yyyy-MM-dd"))</td>
                <td class="col-3">@(order.OrderId)</td>
                <td class="col-3">@(order.OrderDetails.Count)</td>
                <td class="col-3">@(order.Freight?.ToString("$#,##0.00"))</td>
            </tr>
        }
    </tbody>
</table>
